body {
  background-color: #b0e0e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#container {
  background-color: #add8e6;
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

button {
  margin-top: 10px;
}
